<div class="ui dimmer visible active" (click)="closeModal()">
  <div class="ui modal visible active" (click) = "$event.stopPropagation">
    <i class="close icon" (click)="closeModal()"></i>

    <div class="header">
     <ng-content select = '[ModalTitle]'></ng-content>
    </div>

    <div class="content">
      <ng-content></ng-content>

    </div>

    <div class="actions actions-default">
      <button class="ui button" (click)="closeModal()">Ok</button>
    </div>
    <div class="actions">
      <ng-content select="[modalFooter]"></ng-content>
    </div>
  </div>
</div>


